[class^="icon"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-tr {
  /*   background-image: url($icons+"/arrowR.svg");
    width: 10.1px;
    height: 10px;
    margin-left: 7.75px; */
}




@media (max-width: $small) {
   
}