.search {
    padding: 13px 35px 13px 15px;
    background: $ghostWhite;
    border: 1px solid $lavender;
    box-sizing: border-box;
    border-radius: 2px;
    max-width: 690px;
    width: 100%;
    outline: none;
 }

 .input-sm{
    padding: 13px 35px 13px 55px;
    background: $ghostWhite;
    border: 1px solid $lavender;
    box-sizing: border-box;
    border-radius: 2px;
    max-width: 690px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    
 }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}