.nav-item {
    a {
        display: block;
        position: relative;
        margin-right: 77px;
        text-decoration: none;
    }

    &:last-child {
        margin-right: 0;
    }
}


@media (max-width: $small) {}