.search {
    padding: 13px 35px 13px 15px;
    background: $ghostWhite;
    border: 1px solid $lavender;
    box-sizing: border-box;
    border-radius: 2px;
    max-width: 690px;
    width: 100%;
    outline: none;
 }