.title {}

.sub-text {
    color: $darkBlue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &.sub-text--white {
        color: $white;
        opacity: 0.8;
    }

    &.sub-text--lh {

        line-height: 19px;
    }

    .value-text {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: $small) {}