.title {
    /*     font-family: $ProximaNovaBold;
    font-weight: bold;
    color: $darkBlue;
    font-size: 45px;
    line-height: 52px; */




}

.sub-text {
    color: $darkBlue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &.sub-text--white {
        color: $white;
    }

    &.sub-text--lh {

        line-height: 19px;
    }
}

@media (max-width: $small) {}