$black: #000000;
$white: #FFFFFF;
$gray92: #EBEBEB;
$orange: #F58027;
$darkGrayishBlue: #1C2434;
$darkBlue: #241F3A;
$lavender: #E8E8F2;
$ghostWhite: #FBFBFD;
$neonBlue: #4E53FF;
$darkerBlue: #1F2532;