.buttons-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1278px;
    justify-content: center;

    .main-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-right: 16%;
    }

    .prev-i {
        margin-right: 10px;
    }
}