.nav {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }


    &.banner__links {
        padding-bottom: 42px;

        ul {
            justify-content: space-between;
        }
    }

    &.nav--footer{
        ul{
            li{
                a{
                   color: $white;
                   margin-right: 45px;
                   opacity: 0.8;
                }
            }
            
        }
    }
}

