.select__control,
.select-authors__control {
    background: $ghostWhite !important;
    border: 1px solid #E8E8F2 !important;
    box-sizing: border-box;
    border-radius: 2px !important;
}


.select__value-container--is-multi,
.select-authors__value-container--is-multi {
    padding: 11px 15px !important;
}

.select__indicator-separator,
.select-authors__indicator-separator {
    display: none;
}

.select__placeholder,
.select-authors__placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $darkBlue !important;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.select__input,
.select-authors__input {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $darkBlue !important;
    mix-blend-mode: normal;
}

.select-authors {
    margin-bottom: 20px !important;
}

.select-authors__multi-value {
    display: none !important;
}

.select-authors__option {}

.select-authors__menu {
    max-height: 400px !important;
    overflow-y: auto !important;
}

.select-authors__option--is-selected {
    background-color: transparent !important;
    color: inherit !important;
}