.summary-content {
    width: 100%;
    max-width: 600px;
    padding: 24px 37px 24px 16px;
    background: $ghostWhite;
    border: 1px solid #E8E8F2;
    box-sizing: border-box;
    border-radius: 2px;
}