.textarea-block {
    .textarea-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $darkBlue;
    }

    .textarea {
        border: none;
        width: 100%;
        outline: none;
        resize: none;
        height: 120px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: $font-main;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
}