.uploaded-zone {
    display: flex;
    padding: 18px 22px;
    background: $lightBluishGray;
    border-radius: 2px;
    width: 100%;
    min-width: 600px;

    &.uploaded-zone--disabled {
        display: none;
    }
}

.uploaded-file {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

}