.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid $gray92;
    padding: 12px 50px 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $white;
    box-shadow: 0px 2px 4px rgba(185, 185, 185, 0.16704);
    
}


@media (max-width: $small) {

}